name: client-ci

on:
  push:
    branches: [ main ]
    paths:
      - "client/**"
  pull_request:
    branches: [ main ]
    paths:
      - "client/**"

jobs:
  build-and-push-client:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push client image
        uses: docker/build-push-action@v5
        with:
          context: client
          file: client/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/client:${{ github.sha }}
      
      - name: Update  image tag in ticket_app_cd
        env:
          CR_PAT: ${{ secrets.CR_PAT }}
          IMAGE_TAG: ${{ github.sha }}
          IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/client
        run: |
          set -e

          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"

          git clone https://${CR_PAT}@github.com/beltawn3507/ticket_app_cd.git
          cd ticket_app_cd/client

          # Update only the image tag (Kustomize-safe)
          # sed -i "s|\(name: ${IMAGE_NAME}\n\s*newTag:\).*|\1 ${IMAGE_TAG}|" kustomization.yaml
          sed -i "s|newTag: .*|newTag: ${IMAGE_TAG}|" kustomization.yaml


          # Exit if nothing changed
          if git diff --quiet; then
            echo "No image tag change detected. Skipping commit."
            exit 0
          fi

          git add kustomization.yaml
          git commit -m "client: update image tag to ${IMAGE_TAG}"
          git push origin main
