name: payments-ci

on:
  push:
    branches: [ main ]
    paths:
      - "payments/**"
  pull_request:
    branches: [ main ]
    paths:
      - "payments/**"

jobs:
  build-and-push-payments:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push payments image
        uses: docker/build-push-action@v5
        with:
          context: payments
          file: payments/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/payments:${{ github.sha }}
